---
layout: default
---

<article class="feature-image">
  <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    {% if page.feature-img %}
    <div class="feature-img-container" style="text-align: center; width: 110%; display: flex; justify-content: center;">
      <img src="{{ page.feature-img | relative_url }}" 
           alt="{{ page.title }}" 
           style="max-width: 110%; 
                  height: auto; 
                  display: block; 
                  margin: 0 auto;">
    </div>
    {% endif %}
    
    <section class="page-content" style="width: 100%; margin-top: 10px;">
    {{ content }}
    </section>
  </div>

  {% if page.tags %}
    {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
    {% include default/tags_list.liquid tags=tag_list %}
  {% endif %}
</article>